:root {
    --background: rgb(50, 50, 50);
    --cell-background: rgb(25, 25, 25);
    --cell-hover: rgba(255, 255, 255, 0.1);
    --cell-active: rgb(78, 78, 78);
    --font-color: rgb(225, 225, 225);
    --foreground: rgba(230, 69, 228, 0.2);
    --cell-size: 40px;
    --fontsize: 20px;
}

:focus {
    outline: none;
}

#root {
    flex: 1;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Space Mono', Monaco, monospace;
    background: var(--background);
    color: #5da75d;
    font-size: 16px;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--cell-size) - 2px);
    height: calc(var(--cell-size) - 2px);
    position: relative;
    text-align: center;
    font-size: var(--fontsize) !important;
    color: var(--font-color);
    cursor: default;
}

.difficulty-bar {
    display: flex;
    align-items: center;
    justify-content: left;
    float: left;
    position: relative;
    background: var(--cell-background);
    width:auto;
}

.difficulty {
    text-align: center;
    width: auto;
    overflow: hidden;
    padding: 5px;
    background: var(--foreground);
    border: 3px solid var(--cell-background);
    border-right: 0;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.difficulty:hover {
    background: var(--cell-hover);
}

.difficulty:active {
    background: var(--cell-active);
}

.sudoku {
    display: flex;
    flex-flow: row wrap;
    width: calc(((var(--cell-size) + 2px) * 9) + 6px);
    border: solid 4px var(--foreground);
    cursor: default;
    caret-color: rgba(0, 0, 0, 0);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border: solid 1px var(--foreground);
    position: relative;
    text-align: center;
    background: var(--cell-background);
}

.cell.col-2,
.cell.col-5 {
    border-right-width: 4px;
}

.cell.row-2,
.cell.row-5 {
    border-bottom-width: 4px;
}

.cell:hover {
    background: var(--cell-hover);
}

.cell input:focus {
    background: var(--cell-active);
}